/* Por Bruno Bonavigo, no 2024° Ano do Senhor. */
/* SUB TUUM PRAESIDIUM */

/* Fonte pega no https://www.dafont.com/oldnewspapertypes.font */
/* Lá ela é descrita como "100% free", então... */
@font-face {
	font-family: OldNewspaperTypes;
	src: url('../font/OldNewspaperTypes.ttf');
}

/* Essa, é claro, é da Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {

}

.corpo-pagina-principal main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.corpo-pagina-principal-galerias main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.corpo-pagina-principal-galerias {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 3em 1em 3em 1em;
}

.corpo-pagina-principal-galerias footer {
	margin-top: 3em;
}

.corpo-pagina-principal-galerias footer p {
	text-align: center;
	font-size: 1.25em;
	margin: 0;
}

.fonte-maquina-de-escrever {
	font-family: OldNewspaperTypes, monospace;
}

.roboto {
	font-family: Roboto;
}

/* Estilo das imagens de cada seção do site */

.maquina-de-escrever {
	width: 150px;
	cursor: pointer;
}

.campanile {
	width: 170px;
	cursor: pointer;
}

.locomotiva-a-vapor {
	width: 370px;
	cursor: pointer;
}

.logo-da-spr {
	width: 200px;
	cursor: pointer;
}

.titulo-site {
	font-family: OldNewspaperTypes, monospace;
	font-size: 4em;
	margin: 0 0 5px 0;
	text-align: center;
	color: #000;
}

.subtitulo-site {
	font-family: Roboto, sans-serif;
	text-align: center;
	margin-bottom: 0.5em;
}

.pequena-descricao-site {
	font-family: Roboto, sans-serif;
	word-wrap: break-word;
	max-width: 300px;
	text-align: justify;
}

@media (min-width: 400px) {
	.pequena-descricao-site {
		max-width: 380px;
	}
}

.container-foto-galeria {
	height: 200px;
	overflow: hidden;
}

.container-foto-galeria img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

.introducao-a-pagina-galerias {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 1em;
}